.sidebar {
  height: 100vh;
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
}

.sidebar-menu a.active-link {
  font-weight: bold;
  text-decoration: underline;
}

.sidebar-menu a:hover {
  text-decoration: underline;
}